@model ApplicationPhoto.Web.UI.Models.Voyage

@{
    ViewData["Title"] = "Delete";
}

<h1>Supprimer voyage</h1>

<h2>Etes vous sure de vouloir supprimer le voyage?</h2>
<h3>Attention, ceci entrainera la suppression des photos associées.</h3>
<div>
    <h4>Voyage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomVoyage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomVoyage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateVoyageDebut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateVoyageDebut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateVoyageFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateVoyageFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionVoyage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionVoyage)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="VoyageId" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
